@import './pages/signup';
@import './pages/login';
@import './pages/intro';
@import './pages/board';
@import './pages/album';
@import './pages/userinfo';
@import './pages/photo';


#contents-wrapper {
    // width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #f0f0f0;
}
  
section {
    width: 1000px;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    margin: 0 auto;
    // display: inline-block;
    background-color: #ffffff;
}
 
 
 #calendar-wrapper {
     width: min-content;
     h5 {
        margin-top: 2em;
        margin-bottom: 0.5em;
        color: #808080;
    }
}
 
 #calendar-wrapper .title-left, #calendar-wrapper .title-right {
     display: inline-block;
     width: 50%;
 }
 
 #calendar-tb {
     width: 700px;
     border-collapse: collapse;
     color: #909090;
 }
 
 #calendar-tb, #calendar-tb th, #calendar-tb td {
     border: 2px solid #909090;
     vertical-align: middle;
 }
 /* 
 #calender-tb tbody {
     
 } */
 
 #calendar-tb th {
     font-size: 0.9em;
     width: 100px;
     padding: 3px;
     background-color: #f3eade;
     font-weight: normal;
 }
 
 #calendar-tb td {
     font-size: 0.8em;
     text-align: center;
     width: 100px;
     height: 80px;
 }
 
 .title-left{
     float: left;
     text-align: left;
 }
 
 
 .title-right{
     float: right;
     text-align: right;
 }
 
 .content {
     margin: 20px auto;
     line-height: 1.5;
 }
 
 #soundbox-wrapper {
     width: 700px;
 }
 
 #soundbox-title {
     width: 160px;
     position: relative;
     z-index: 10;
     background-color: #e5c8cc;
     color: white;
     font-size: 2em;
     text-align: center;
     margin: 0 auto;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 #soundbox-contents-wrapper {
     width: 700px;
     margin-top: -30px;
     position: relative;
     z-index: 0;
     padding-top: 30px;
     /* padding-left: 60px;
     padding-right: 60px; */
     padding-bottom: 30px;
     color: #08253e;
     font-weight: 60;
     background-color: #fffced;
     h5 {
        font-weight: bold;
        font-size: 20px;
    }
}
 
 
#soundbox-content{
    margin: 20px;
}
 
 #soundbox-img {
     width: 700px;
     height: 120px;
     background-image: url('./assets/img/soundbox.png');
     background-size: cover;
 }