/****** ALBUM *******/
.album-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.album-list {
    width: 232px;
    height: 232px;
    margin: 0.5px;
    position: relative;
    box-shadow: 3px 3px 7px 2px rgba(95, 95, 95, 0.2);
    cursor: pointer;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .album-cover {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0);
        &:hover {
            visibility: visible;
            background-color: rgba(104, 104, 104, 0.5);
            transition: all 1s;
        }
        h5 {
            text-align: center;
            font-size: 15px;
            color: white;
        }
    }
}

.album-info {
    h5 {
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .album-list {
        width: calc(50vw - 2px);
        height: calc(50vw - 2px);
    }
}

/****** ALBUM *******/