/****** ALBUM *******/
.album-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.album-list {
    width: calc(33% - 22px);
    // height: 232px;
    margin: 12px;
    position: relative;
    // box-shadow: 3px 3px 7px 2px rgba(175, 175, 175, 0.5);
    cursor: pointer;
    &::before {
        content: '';
        padding-top: 100%;
        float: left;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.album-cover {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(63, 63, 63, 0.13);
    &:hover {
        visibility: visible;
        background-color: rgba(104, 104, 104, 0.5);
        transition: all 1s;
    }
    .album-category-marker {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 50px solid transparent;
        border-right: 50px solid transparent;
    }
    h5 {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }
}

.album-info {
    
    .alb-header-wrapper {
        margin-top: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        .alb-btn-back {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                width: 2rem;
                border: none;
                border-radius: 50%;
                background-color: $color_aqua;
                cursor: pointer;
                color: $color_white;
                font-size: 1rem;
            }
        }
        .alb-title {
            // display: inline-block;
            // margin-left: 20px;
            max-width: 500px;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 10px;
            float: left;
        }
        .actions-drawer {
            position: relative;
            margin-left: auto;
            // right: 0;
        }
        // .actions-wrapper {
        //     padding: 5px 0px;
        //     width: 60px;
        //     flex-shrink: 0;
        // }
        .alb-author {
            // text-align: right;
            // flex-grow: 1;
            flex-shrink: 0;
            text-align: right;
            padding: 10px 5px;
            margin-right: 0px;
            font-size: 20px;
            font-weight: bold;
            // float: right;
            color: #49A0AE;
        }
    
    }
    .contents {
        font-size: 15px;
        margin: 30px 10px 10px 10px;

    }
}


.crt-alb-wrapper {
    .categories-wrapper {
        height: 30px;
        margin-top: 20px;
        input {
            display: none;
        }
        input:checked + label {
            color: #eeeeee;
            background-color: #005783;
        }
        label {
            margin: 5px;
            padding: 6px;
            // border: 1px solid #005783;
            border-radius: 7px;
            font-size: 14px;
            cursor: pointer;
            user-select: none;
        }
    }
    .crt-alb-title {
        margin-bottom: 10px;
    }

    .select-private-wrapper {
        display: flex;
        width: 100%;
        margin: 5px 0px;
        .select-private-unit {
            border: 1px solid $color-gray1;
            padding: 8px;
            margin: 0px 15px;
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: $color-gray1;
            cursor: pointer;
            &.selected {
                border: 1px solid $color-aqua;
                background-color: $color-aqua;
                color: #FFFFFF;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .album-list {
        width: calc(50% - 1rem);
        margin: 0.5rem;
        // height: calc(50vw - 2px);
    }

    .album-list-wrapper {
        margin: 0px 0.5rem;
    }

    .album-info {
        .alb-header-wrapper {
            .alb-btn-back {
                margin-left: 0.5rem;
            }
            .alb-title {
                font-size: 1.1rem;
                padding: 10px 5px;
            }
            // .actions-wrapper {
            //     padding: 1px 1px;
            // }
            .alb-author {
                font-size: 1.1rem;
                float: right;
                color: #49A0AE;
            }
        }
    }
    
}

/****** ALBUM *******/