/***** LOG IN *****/
.login-input-wrapper {
    margin: 5em auto;
    width: 21em;
    text-align: center;
}

.login-wrapper button {
    height: 3em;
    width: 20em;
    margin: 1em auto;
    letter-spacing: 0.2rem;
    color: white;
    background-color: #005fb3;
    border: none;
    &:active {
        background: #6d869c;
    }
}

.login-input {
    height: 3em;
    width: 20em;
    display: block;
    margin: 1em auto;
}
/***** LOG IN *****/