.photoboard-wrapper {

    .view-type-selector-wrapper {
        display: flex;
        width: 100%;
        font-size: 20px;
        .view-type-selector {
            width: 50%;
            text-align: center;
            padding: 10px 0px 10px 0px;
            // border: 2px solid #686868;
            background-color: $color-gray5;
            color: $color-gray2;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: $color-gray1;
            }
        }
        .selected {
            background-color: $color-aqua;
            color: #ffffff;
            &:hover {
                color: #ffffff;
            }
        }
    }

    .memory-title {
        display: inline-block;
        background-image: url("./assets/img/board/title_memory.png");
        background-size: contain;
        width: 277px;
        height: 68px;
        padding: 25px 0px 20px 100px;
        margin: 10px 0px 15px 0px;
    }
    .astrophoto-title {
        display: inline-block;
        background-image: url("./assets/img/board/title_astrophoto_mini.png");
        background-size: contain;
        width: 277px;
        height: 68px;
        padding: 25px 0px 20px 117px;
        margin: 10px 0px 15px 0px;
    }
}

.btn-crt-album {
    position: absolute;
    right: -70px;
    top: 100px;
}

@media screen and (max-width: 800px) {
    .btn-crt-album {
        position: sticky;
        margin-left: 75%;
        // top: -5rem;
        // right: 2rem;
        // position: fixed;
        // top: initial;
        // right: 70px;
        // bottom: 2rem;
    }
}