/****** PHOTO *******/
.photo-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .photo-wrapper {
        // flex-basis: 33%;
        width: 174px;
        height: 174px;
        // padding-bottom: 10%;
        // height: 33%;
        margin: 0.5px;  
        position: relative;
        // box-shadow: 1px 1px 5px 1px rgba(65, 65, 65, 0.5);
        img {
            // padding-top: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .photo-title {
            position: absolute;
            visibility: hidden;
            bottom: 0;
            z-index: 1;
            width: 100%;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            &:hover {
                visibility: visible;
            }
    
        }
    }
    
    .photo-wrapper:hover {
        background-color: rgba(100, 100, 100, 0.8);
        // background: -webkit-gradient(linear, left top, right bottom, color-stop(12%, #b3cae5), color-stop(46%, #dbdde4), color-stop(70%, #e4e3e4), color-stop(94%, #f7ddbb), color-stop(100%, #efcab2));
    }
}


.photo-section-wrapper {
    .photo-wrapper {
        display: flex;
        justify-content: center;
        background-color: #1d1d1d;
        max-height: 500px;
        img {
            object-fit: contain;
        }
    }

    .photo-contents-wrapper {
        padding: 10px;
        h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: bold;
        }
        p {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 800px) {
    .photo-list-wrapper {
        .photo-wrapper {
            // width: calc(33% - 1px);;
            width: calc(50vw - 2px);
            height: calc(50vw - 2px);
        }
    }

    .photo-section-wrapper {
        .photo-wrapper {
            max-height: 300px;
        }
    }
}


/****** PHOTO *******/