/****** PHOTO *******/
.photo-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .photo-wrapper {
        width: 174px;
        height: 174px;
        margin: 0.5px;  
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .photo-cover {
            position: absolute;
            // visibility: hidden;
            color: #C9C9C9;
            bottom: 0;
            z-index: 1;
            width: 100%;
            padding: 5px;
            font-size: 16px;
            background-color: rgba(22, 22, 22, 0.5);
            .material-icons {
                font-size: 16px;
            }
            &:hover {
                visibility: visible;
            }
    
        }
    }
    
    .photo-wrapper:hover {
        background-color: rgba(100, 100, 100, 0.8);
    }
}


.photo-section-wrapper {
    .photo-wrapper {
        display: flex;
        justify-content: center;
        background-color: #1d1d1d;
        max-height: 500px;
        img {
            object-fit: contain;
        }
    }

    .photo-contents-wrapper {
        padding: 10px;
        display: flex;
        .info-wrapper {
            flex-basis: 50%;

            .info-tags {
                display: flex;
                .tag-unit {
                    border: 1px solid #e25d7f;
                    color: #eeeeee;
                    background-color: #e25d7f;
                    margin: 5px;
                    padding: 8px;
                    border-radius: 7px;
                    font-size: 14px;
                    user-select: none;
                }
            }

            h4 {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 25px;
                font-weight: bold;
            }
            p {
                font-size: 15px;
            }
            table {
                font-size: 15px;
                tr {
                    margin: 10px 0px 10px 0px;
                }
                td {
                    padding: 5px;
                }
            }
        }
        .user-wrapper {
            flex-basis: 50%;
            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
            .username {
                display: inline-block;
            }
        }
    }
}

.crt-photo-popup {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    .crt-photo-wrp {
        position: relative;
        width: 1400px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: #ffffff;
        z-index: 99;
        .crt-photo-header {
            padding: 20px 0 20px 0;
            background-color: #7193C4;
            h3 {
                text-align: center;
                color: #ffffff;
                font-size: 24px;
            }
        }
        .crt-photo-body {
            height: 600px;
            display: flex;
            .crt-photo-left {
                width: 450px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                overflow: auto;
                label {
                    width: 135px;
                    height: 135px;
                    flex: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .add-photo {
                        border: 1px solid #C9C9C9;
                        border-radius: 50%;
                        width: 70%;
                        height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                input {
                    display: none;
                }
                .photo-thumbnail {
                    width: 135px;
                    height: 135px;
                    cursor: pointer;
                }
                .selected {
                    border: 3px solid #49A0AE;
                }
                .default {
                    opacity: 0.8;
                }
            }
            .crt-photo-center {
                background-color: #1d1d1d;
                width: 500px;
                text-align: center;
                img {
                    max-height: 100%;
                }
            }
            .crt-photo-right {
                background-color: #ffffff;
                position: relative;
                width: 450px;
                .photo-infos-wrapper {
                    padding: 10px;
                    .input-title {
                        width: 100%;
                        height: 40px;
                        border-top: 1px solid #C9C9C9;
                        border-bottom: 1px solid #C9C9C9;
                        border-left: none;
                        border-right: none;
                    }
                    .input-desc {
                        width: 100%;
                        height: 100px;
                        border: none;
                        border-bottom: 1px solid #C9C9C9;
                        resize: none;
                    }
                    .photo-infos {
                        width: 100%;
                        position: relative;
                        padding: 20px 0 20px 0;
                        background-color: #F1F1F1;
                        .photo-info {
                            margin-bottom: 10px;
                            .label-wrapper {
                                display: inline-block;
                                width: 25%;
                                padding-left: 20px;
                                // text-align: center;
                            }
                            .input-wrapper {
                                display: inline-block;
                                width: 50%;
                            }
                        }
                    }    
                }
                .btn-wrapper {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    button {
                        height: 50px;
                        font-size: 16px;
                        font-weight: bold;
                        border: none;
                        font-family: 'NIXGONM-Vb';
                    }
                    .btn-cancel {
                        flex-basis: 33%;
                        color: #1d1d1d;
                        background-color: #F1F1F1;
                    }
                    .btn-ok {
                        flex-basis: 67%;
                        color: #F1F1F1;
                        background-color: #7193C4;
                    }

                }

            }
        }
    }
}



@media screen and (max-width: 800px) {
    .photo-list-wrapper {
        .photo-wrapper {
            // width: calc(33% - 1px);;
            width: calc(50vw - 2px);
            height: calc(50vw - 2px);
        }
    }

    .photo-section-wrapper {
        .photo-wrapper {
            max-height: 300px;
        }

        .photo-contents-wrapper {
            margin: 1rem;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #d3d3d3;
            padding: 10px;
            display: block;
            .user-wrapper {
                padding: 0.5rem;
                display: flex;
                img {
                    width: 3rem;
                    height: 3rem;
                }
                .username {
                    padding: 1rem 1rem 1rem 1rem;
                    font-weight: bold;
                }
            }
        }
    }


    .crt-photo-popup {
        
        .crt-photo-wrp {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color: #ffffff;
            z-index: 99;
            .crt-photo-header {
                height: 4rem;
                padding: 20px 0 20px 0;
                background-color: rgb(0, 33, 80);
                h3 {
                    text-align: center;
                    color: #ffffff;
                    font-size: 24px;
                }
            }
            .crt-photo-body {
                height: calc(100% - 4rem);
                flex-direction: column;
                overflow: auto;
                flex-wrap: nowrap;
                .crt-photo-left {
                    width: 100%;
                    height: 8rem;
                    overflow: auto;
                    flex-shrink: 0;
                    flex-wrap: nowrap;
                    label {
                        width: 5rem;
                        height: 6rem;
                        flex: none;
                        user-select: none;
                        .add-photo {
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                    }
                    
                    .photo-thumbnail {
                        width: 6rem;
                        height: 6rem;
                        flex: none;
                    }
                }
                .crt-photo-center {
                    display: none;
                }
                .crt-photo-right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .input-title {
                        height: 4rem;
                    }
                    .input-desc {
                        height: 8rem;
                    }
                    .btn-wrapper {
                        position: initial;
                    }    
                }
            }
        }
    }
}


/****** PHOTO *******/