
/***** SIGN UP *****/

.sign-up-wrapper {
    margin: 30px;
    .div-agreement {
        height: 250px;
        margin: 5px;
        padding: 3px;
        overflow: auto;
        border: 1px solid #9eb4b4;
        font-size: 0.85em;
        p {
            line-height: 1.5;
        }
    }
    .input-text {
        margin-top: 5px;
        height: 35px;
    }
    .signup-input-wrapper {
        width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 2px #d6d6d6 solid;
        border-radius: 10px;
    }
    .signup-btn {
        width: 100%;
    }
}


/****** for mobile ~ 800px ******/
@media screen and (max-width: 800px) {
    .sign-up-wrapper {
        .signup-input-wrapper {
            width: 100%;
        }
    }
}

/***** SIGN UP *****/