
.color-pink {
    color: #f0645e;
}

.color-gray1 {
    color: #a3a3a3;
}

.break-line {
    word-break: break-word;
}

.actions-wrapper {
    // display: flex;
    // justify-content: space-between;
    // padding-top: 5px;
    position: relative;
    height: 30px;

    .edit-delete-wrapper {
        position: absolute;
        left: 0px;
        .edit-wrapper {
            display: inline-block;
            margin-right: 8px;
        }
        .delete-wrapper {
            display: inline-block;
        }

    }

    .like-comment-num-wrapper {
        font-size: 20px;
        position: absolute;
        right: 0px;
        // padding-bottom: 10px;
        .like-num-wrapper {
            display: inline-block;
            margin-right: 12px;
            color: #f0645e;
        }
        .comment-num-wrapper {
            display: inline-block;
            color: #a3a3a3;
        }
        .material-icons {
            font-size: 24px;
        }
    }
}

.tag-wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
}
.tag-list-wrapper {
    display: flex;
    flex-wrap: wrap;    
    .tag-unit {
        margin: 15px 5px 10px 5px;
        label {
            width: 100%;
            padding: 8px;
            border-radius: 7px;
            font-size: 14px;
            user-select: none;
            cursor: pointer;
        }
        input {
            display: none;
        }
        .tag-label-1 {
            border: 1px solid #e25d7f;
        }
        input:checked + .tag-label-1 {
            color: #eeeeee;
            background-color: #e25d7f;
        }
        .tag-label-2 {
            border: 1px solid #5d81e2;
        }
        input:checked + .tag-label-2 {
            color: #eeeeee;
            background-color: #5d81e2;
        }
    }
    .tag-all {
        label {
            border: 1px solid #686868;
        }
        input:checked + label {
            color: #eeeeee;
            background-color: #686868;
        }
    }
}

.paginator-wrapper {
    display: flex;
    margin: 10px;
    ul {
        display: flex;
    }
    li {
        padding: 5px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .current {
        font-weight: bold;
    }
}