/****** footer ******/
footer {
    background-color: #434343;
    color: white;
    padding: 20px;
}

#footer-contents {
    width: 100%;
    text-align: center;
}

#footer-contents p {
    margin: 10px;
}